$main-blue: #1a3b60;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  border-bottom: 1px solid #e5e5e5;

  &__navigation {
    display: flex;
    align-items: center;
  }

  .navigation {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #83a0c1;
    padding: 25px;
    border-bottom: 4px solid transparent;
    cursor: pointer;

    &--active {
      color: $main-blue;
      border-bottom: 4px solid #0f3f88;
    }

    img {
      height: 27px;
      margin-right: 8px;
    }

    &:first-child {
      margin-right: 120px;
    }
  }

  .rightMenu {
    a {
      text-decoration: none;
      color: $main-blue;
    }

    &__item {
      &--border {
        padding: 8px 15px;
        border-radius: 6px;
        border: 1px solid $main-blue;
      }

      &:first-child {
        margin-right: 35px;
      }
    }
  }
}
