
.header {

  &__title {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    padding: 15px;
  }

  &__body {
    padding: 30px 15px;
    padding-right: 42px;
  }

  .button {
    background: 'transparent';
    border: 0;
  

    &__title {
      font-weight: bold;

      img {
        margin-right: 16px;
      }
    }
  }
}