$font-gray: #696F79;
$orange:#FDC064;
.reset {
    padding:80px;
    height: 100%;
    text-align: center;
&__content {
    width: 300px;
    align-items: center;
    margin: 0 auto;
}
&__title {
    display: flex;
    font-size: 18px;
    color: $orange;
    margin-top: 20px;
    margin-bottom: 30px;
}

&__subTitle {
    display: block;
    margin-top:14px;
    font-size: 14px;
    color: $font-gray;
}


&__buttonYES {
    margin-top:20px;
    margin-left: 20px;
    width: 130px;
    padding: 9px 18px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    background: $orange;
    outline: none; 

}


}
