// css normalization
@import-normalize;
// fonts
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Open+Sans:ital@0;1&display=swap');

$font-light-color: #696F79;
$btn-primary-color: #0F3F88;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prmary-btn{
  width: 100%;
  padding: 9px 18px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  background: $btn-primary-color;
  outline: none; 
}

.input {
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 0 10px;
  width: 300px;
  height: 40px;
  line-height: 32px;
  border: 1px solid $btn-primary-color;
  box-sizing: border-box;
  border-radius: 6px;
}
.input-subTitle {
  display: block;
  float: left;
  margin-top:14px;
  font-size: 14px;
  color: $font-light-color;

}

@import './sidebar';
@import './feed';
@import './header';
@import './sign';

.fullHeight {
  height: 100%;
}

.pointer {
  cursor: pointer;
}
